@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

html, body, #root {
  width: 100vw;
  height: 100vh;          /* <-- FIXED */
  background-color: #FCF8F4;
  /* overflow: hidden; */
  max-width: 100vw;
  max-height: 100vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
	font-weight: bold;
}


.read-the-docs {
  color: #888;
}

.image {
	width: 40px;
	height: 38px;
	object-fit: fill;
}
.image2 {
	width: 78px;
	height: 38px;
	object-fit: fill;
}
.view2 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	padding: 16px 12px;
	background-size: cover;
	background-position: center;
}
.text6 {
	color: #3C83F6;
	font-size: 12px;
}